<%= link_to 'create album', new_user_album_path(current_user) %>,
<%= link_to "back",:back%>, <%= link_to 'all albums', user_albums_path(current_user)%>,  
<%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %><br />
<br /><br />
<table style="width: 60%;"><tr><th>picture</th><th>tags</th><th>destroy</th><th>submit tag</th></tr>

<% @upload.each do |up|%>
<tr><td colspan="2">


	<%= image_tag up.avatar.url(:thumb) %> 
	
	<%Tag.where(:upload_id=>up.id).each do |tg|%>
<%=tg.name%>,
<%end%>
</td>
<td>
 	<%= link_to 'destroy pic', album_upload_path(:user_id => current_user.id, :id =>up), method:
 :delete, data: {confirm: 'are you sure?'}%> 
 </td>
<td>


 <%= form_for :tag, :url =>  
	upload_tags_path(up.id) do |form| %>
	<%= form.hidden_field :upload_id,:value=>up.id%>
	<%=form.label :name%>
	<%= form.text_field :name%><br />
	<%= form.submit %></td>
 <%end %>
 
 </tr>
<%end %>
</table>